app-example-part2/src/main/app/app-example-part2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
  
  
    <flow name="app-example-part2Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/myhello" doc:name="HTTP"/>
        <flow-ref name="subflow1" doc:name="subflow1"/>
        <flow-ref name="subflow2" doc:name="subflow2"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vmflow2" doc:name="VM"/>
        <logger message="Name : #[message.outboundProperties.qname] Type : #[flowVars.qvariable] Color : #[sessionVars.color]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="flow3">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vmflow2" doc:name="VM"/>
        <set-payload value="GOOD BYE" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="subflow1">
        <set-payload value="#['hello world'.toUpperCase()]" doc:name="Set Payload"/>
        <set-property propertyName="qname" value="#[message.inboundProperties.'http.query.params'.firstname]" doc:name="Property"/>
    </sub-flow>
    <sub-flow name="subflow2">
        <set-variable variableName="qvariable" value="#[message.inboundProperties.'http.query.params'.type]" doc:name="Variable"/>
        <set-session-variable variableName="color" value="grey" doc:name="Session Variable"/>
    </sub-flow>
</mule>
